.image{
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.content{
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 40px;
  padding: 40px 20px;
}

.articles{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.articles__container-one{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

.articles__container-two{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
}

.articles__container-three{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;

}

@media (max-width: 1300px) {
  .image{
    height: 250px;
  }
  .content{
    grid-template-columns: 1fr;
  }  
}

@media (max-width: 800px) {
  .articles__container-one,
  .articles__container-two{
    grid-template-columns: 1fr;
  }
  .image{
    height: 150px;
  }
}